<%= form_for @game, url: user_game_path do |f| %>
  <div class="form-group">
    <%= f.label :gamename %>
    <%= f.text_field :gamename, class: 'form-control' %>
  </div>
  
  <% unless current_user.game %>
    <% @entrycode = SecureRandom.hex(3) %>
    <div class="form-group">
      <%= f.hidden_field :entrycode, :value => @entrycode  %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.submit "Setup Game", class: 'btn btn-primary' %>
  </div>
  
<% end %>