<h2>Your Game(Game-Show)</h2>
<% @user = User.find( params[:user_id]) %>
<% if @user.game %>
    Game ID: <%= @user.game.id %><br />
    Game Name: <%= @user.game.gamename %><br />
    Entry Code: <%= @user.game.entrycode %><br />
    Created on: <%= @user.game.created_at %><br />
    Last Updated: <%= @user.game.updated_at %><br />
    
    <% @gameid = @user.game.id %>
    <% @players = @user.game.players %>
    <table>
        <tr>
            <th>Player Name</th>
            <th>Player Code</th>
            <th>Balance</th>
        </tr>
        <% @players.each do |p| %>
        <tr>
            <td> <%= p.player_name %></td>
            <td> <%= p.player_code %></td>
            <td> <%= p.balance %></td>
        </tr>
    <% end %>
    </table>
    
<% else %>
    <p>You currently don't have a game setup. Why Don't you start one?</p>
    <%= link_to "Create A New Game", new_user_game_path(current_user) if current_user %>
<% end %>

Add a Player
    <%= link_to "Add a Player", new_user_game_players_path(current_user) if current_user %>