<h2>Your Game(Game-Show)</h2>
<% @user = User.find( params[:user_id]) %>
<% if @user.game %>
    <table class = 'table'>
        <tr>
            <th>Game ID</th>
            <th>Game Name</th>
            <th>Entry Code</th>
            <th>Created On</th>
            <th>Last Updated</th>
        </tr>
        <tr>
            <td><%= @user.game.id %></td>
            <td><%= @user.game.gamename %></td>
            <td><%= @user.game.entrycode %></td>
            <td><%= @user.game.created_at %></td>
            <td><%= @user.game.updated_at %></td>
        </tr>
    </table>
    <h2>Players</h2>
    <% @players = @user.game.players %>
    <table class='table-striped table'>
        <tr>
            <th>Player Name</th>
            <th>Player Code</th>
            <th>Balance</th>
        </tr>
        <% @players.each do |p| %>
        <tr>
            <td> <%= p.player_name %></td>
            <td> <%= p.player_code %></td>
            <td> <%= p.balance %></td>
        </tr>
    <% end %>
    </table>
    <%= link_to "Add a Player", new_user_game_players_path(current_user), class: "btn btn-primary" if current_user %>
<% else %>
    <p>You currently don't have a game setup. Why Don't you start one?</p>
    <%= link_to "Create A New Game", new_user_game_path(current_user) if current_user %>
<% end %>

